
.todo-form-div {
    position: relative;

}

.todo-div {
    /* height: 500px; */
    min-height: 40vh;
    /* max-width: 1000x; */
    /* overflow-y: scroll; */
    list-style-type: none;
}

.todo-form-div {
    position: relative;
    /* width: 400px; */
    width: 30vh;
    margin: 5%;
    border-radius: 68px;
}

.todos {
    max-width: 200px;
    height: 400px;
    white-space: nowrap;
}

.todo-input {
    border: none;
    font-family: hk grotesk;
    letter-spacing: 0;
}

.todo-input {
    border: none;
    font-family: hk grotesk;
    letter-spacing: 0;
    background-color: #FFFCF5;
}
.todo-input:focus {
    outline: none !important;
    border:1px solid black;
    box-shadow: 0 0 10px #719ECE;
}

.todo-button {
    border-radius: 100px;
    font-family: hk grotesk;
    background-color: #FFFCF5;
    border: none;
    font-size: 20px;
}

.checkid.checkbox.checkbox-circle {
    border-radius: 68px;
}