
.todo-form-div {
    position: relative;

}

.todo-div {
    height: 500px;
    max-width: 1000x;
    overflow-y: scroll;
    list-style-type: none;
}

.todo-form-div {
    position: relative;
    width: 400px;
    margin: 5%;
    border-radius: 68px;
}

.todos {
    max-width: 200px;
    height: 400px;
    white-space: nowrap;
}

.todo-input {
    border: none;
    font-family: hk grotesk;
    letter-spacing: 0;
}

.todo-input {
    border: none;
    font-family: hk grotesk;
    letter-spacing: 0;
    border-radius: 68px;
    background-color: #FFFCF5;
}

.todo-button {
    border-radius: 100px;
    font-family: hk grotesk;
    background-color: #FFFCF5;
    border: none;
    font-size: 20px;
}

.checkid.checkbox.checkbox-circle {
    border-radius: 68px;
}