@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");
@import url("//db.onlinewebfonts.com/c/751859ed48262433504a363c60cc08f8?family=Display");
@font-face {
    font-family: 'Doppleganger-Display';
    src: url('Doppelganger-Display.ttf') format('truetype');
  }
.App {
    background-color: #FFFCF5;
    text-align: center;
}

.nowbox {
    font-family: 'HK Grotesk', sans-serif;
}

#clockbox {
    margin-top: 0.5%;
    font-family: HK Grotesk, sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 62.54px;
    background-color: #FFFCF5;
}
#datebox {
    margin-top: 0.5%;
    font-family: HK Grotesk, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}



.title-heading {
    font-family: 'Doppleganger-Display';
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 80px;
    letter-spacing: 0.015em;
}

.todo-category {
    font-family: HK Grotesk;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.015em;
}

.TodoList-div {
    display: inline-flex;
} 

.vertical-break {
    position: relative;
    margin-top: -1%;
    border-left: 1px solid black;
    height: 700px;
    left: 0px;
    width: auto;
}

.urgent-list {
}

.urgent-list-div{
    text-align: center;
}
.urgent {
    text-align: center;
}
.nonurgent {
    text-align: right;
}